/* lg 1200px + */
@media (min-width: 1200px) {
}
/* md 992px + */
@media (max-width: 992px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .logo__img {
    width: 3rem;
    height: 3rem;
  }
  .title {
    font-size: 5rem;
  }
}

@media (max-width: 662px) {
  html {
    font-size: 13px;
  }
  .alert {
    width: 17rem;
  }
}

@media (max-width: 582px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 400px;
  }
}

@media (max-width: 392px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 300px;
  }

  .title {
    margin: 2.5rem 0 5rem;
  }
  .encryption__form {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .key__input input {
    width: 6rem;
    padding: 0.2rem;
  }
  .key__label {
    font-size: 1rem;
  }

  .key-pairs__group input,
  .key-pairs__label,
  .button {
    font-size: 0.8rem;
  }
  .form__buttons {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .button {
    white-space: nowrap;
  }
}
